#icons {
  position: absolute;
  right: 20px;
}

mat-icon {
  margin-right: 15px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: 380px) {
  a h1,
  #icons {
    display: none;
  }
}